*
{
  box-sizing: border-box;
}


html {
  background-image: url("../111756-monoxromnyj_rejim-liniya-illustracia-angle-treugolnik-3840x2160.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1
{
  text-shadow: 1px 1px 1px red,
  2px 2px 1px red;
  font-family: Courier New;
  text-align:center;
}

a
{
 text-align:center;
}

p
{
  font-family: Courier New;
  text-align:center;
}

label
{
  text-shadow: 0.5px 0.5px 0.5px red,
  1px 1px 0.5px red;
  font-family: Courier New;

}

button {
  min-width: 50px;
  font-family: Courier New;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #ff6666;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;

}

.button:hover {
  background: #ff9999;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

table {
  border-collapse: collapse;
}
td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.square {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 2px;
  background-color: gray;
}
